/* ### Index CSS ### */
#IndexWrap {
	display:table;
	width:100%;
	padding:10px 0px 10px 0px;
}
#IndexWrap #C0 {
	display:table-cell;
	width:50%;
}
#IndexWrap #C1 {
	display:table-cell;
	width:25%;
}
#IndexWrap #C2 {
	display:table-cell;
	width:25%;
}
#IndexWrap .cell {
	background-color:#000000;
	border: 3px double #999;/*Silver*/
}